<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gameloft9.demo.dataaccess.dao.system.FinanceReceiptMapper" >

    <resultMap id="receiptMap" type="com.gameloft9.demo.dataaccess.model.system.SysFinanceReceipt">
        <id property="id" column="ID" jdbcType="VARCHAR"/>
        <result property="receiveId" column="RECEIVE_ID" jdbcType="VARCHAR"/>
        <result property="receiveType" column="RECEIVE_TYPE" jdbcType="INTEGER"/>
        <result property="balance" column="BALANCE" jdbcType="VARCHAR"/>
        <result property="documentMaker" column="DOCUMENT_MAKER" jdbcType="VARCHAR"/>
        <result property="documentMakeTime" column="DOCUMENT_MAKE_TIME" jdbcType="VARCHAR"/>
    </resultMap>

    <!--TODO...优化-->
    <!--获取所有  getAll
    List<SysFinanceReceipt> getAll(
            @Param("start") int start,
            @Param("end") int end,
            @Param("receiveType") int receiveType
    );-->
    <select id="getAll" resultMap="receiptMap">
      select
        *
      from
        a_recepit
        <where>
            <if test="receiveType != null and receiveType != ''">
                RECEIVE_TYPE=#{receiveType,jdbcType=INTEGER}
            </if>
        </where>
        limit #{start},#{end}
    </select>


    <!--TODO...优化-->
    <!--获取条件查询总条数  int getCount-->
    <select id="getCount" resultType="java.lang.Integer">
        select count(1)
        from
        a_recepit
        <where>
            <if test="receiveType != null and receiveType != ''">
                RECEIVE_TYPE=#{receiveType,jdbcType=INTEGER}
            </if>
        </where>
    </select>

    <!--添加 add()-->
    <!--<id property="id" column="ID" jdbcType="VARCHAR"/>
        <result property="receiveId" column="RECEIVE_ID" jdbcType="VARCHAR"/>
        <result property="receiveType" column="RECEIVE_TYPE" jdbcType="INTEGER"/>
        <result property="balance" column="BALANCE" jdbcType="VARCHAR"/>
        <result property="documentMaker" column="DOCUMENT_MAKER" jdbcType="VARCHAR"/>
        <result property="documentMakeTime" column="DOCUMENT_MAKE_TIME" jdbcType="VARCHAR"/>-->
    <insert id="add" parameterType="com.gameloft9.demo.dataaccess.model.system.SysFinancePayment">
        insert into a_recepit
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">
                ID,
            </if>
            <if test="receiveId != null and receiveId != ''">
                RECEIVE_ID,
            </if>
            <if test="receiveType != null and receiveType != ''">
                RECEIVE_TYPE,
            </if>
            <if test="balance != null and balance != ''">
                BALANCE,
            </if>
            <if test="documentMaker != null and documentMaker != ''">
                DOCUMENT_MAKER,
            </if>
            <if test="documentMakeTime != null and documentMakeTime != ''">
                DOCUMENT_MAKE_TIME,
            </if>
        </trim>
        <trim prefix=" values(" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="receiveId != null and receiveId != ''">
                #{receiveId,jdbcType=VARCHAR},
            </if>
            <if test="receiveType != null and receiveType != ''">
                #{receiveType,jdbcType=INTEGER},
            </if>
            <if test="balance != null and balance != ''">
                #{balance,jdbcType=VARCHAR},
            </if>
            <if test="documentMaker != null and documentMaker != ''">
                #{documentMaker,jdbcType=VARCHAR},
            </if>
            <if test="documentMakeTime != null and documentMakeTime != ''">
                #{documentMakeTime,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <!--修改 update()-->
    <update id="update" parameterType="com.gameloft9.demo.dataaccess.model.system.SysFinanceChargeOff">
        update a_receipt
        <set>
            <if test="payId != null and payId != ''">
                PAY_ID = #{payId,jdbcType=VARCHAR},
            </if>
            <if test="shouldPay != null and shouldPay != ''">
                SHOULD_PAY = #{shouldPay,jdbcType=VARCHAR},
            </if>
            <if test="actualPay != null and actualPay != ''">
               ACTUAL_PAY =  #{actualPay,jdbcType=VARCHAR},
            </if>
            <if test="arreara != null and arreara != ''">
                ARREARA = #{arreara,jdbcType=VARCHAR}
            </if>
        </set>
        <where>
            <if test="id != null and id != ''">
                and id = #{ID,jdbcType=VARCHAR}
            </if>
        </where>
    </update>

    <!--删除   delete()-->
    <delete id="delete" parameterType="java.lang.String">
        delete from a_receipt
        <where>
            <if test="id != null and id != ''">
                and id = = #{ID,jdbcType=VARCHAR}
            </if>
        </where>
    </delete>

</mapper>