<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gameloft9.demo.dataaccess.dao.system.FinanceApplyOrderMapper">

    <resultMap id="applyOrderMap" type="com.gameloft9.demo.dataaccess.model.system.SysFinanceApplyOrder">
        <id property="id" column="ID" jdbcType="VARCHAR"/>
        <result property="applyId" column="APPLY_ID" jdbcType="VARCHAR" />
        <result property="applyUser" column="APPLY_USER" jdbcType="VARCHAR" />
        <result property="applyTime" column="APPLY_TIME" jdbcType="TIMESTAMP" />
        <result property="applyType" column="APPLY_TYPE" jdbcType="VARCHAR" />
        <result property="applyMoney" column="APPLY_MONEY" jdbcType="VARCHAR" />
        <result property="applyState" column="APPLY_STATE" jdbcType="VARCHAR" />
    </resultMap>

    <!--查找所有的采购应付单   List<SysFinancePurchaseBillsPayable> getAll(
            @Param("start") int start,
            @Param("end") int end,
            @Param("auditType") int auditType,
            @Param("documentMakeTime") Date documentMakeTime
            );-->
    <select id="getAll" resultMap="applyOrderMap">
        select
        ID,
        APPLY_ID,
        APPLY_USER,
        APPLY_TIME,
        APPLY_TYPE,
        APPLY_MONEY,
        APPLY_STATE
        from
        a_apply_order
        <where>
            <if test="applyType != null and applyType != ''">
                and APPLY_TYPE = #{auditType,jdbcType=VARCHAR}
            </if>
            <if test="startTime != null and startTime != '' and endTIme != null and endTime != ''">
                and APPLY_TIME in (#{startTime,jdbcType=TIMESTAMP},#{endTime,jdbcType=TIMESTAMP})
            </if>
            <if test="applyState != null and applyState != ''">
                and APPLY_TYPE = #{auditType,jdbcType=VARCHAR}
            </if>
        </where>
        limit #{start},#{end}
    </select>

    <!--条件查询总条数   int getCount(
            @Param("auditType") int auditType,
            @Param("documentMakeTime") Date documentMakeTime
    );-->
    <select id="getCount" resultType="int">
        select
          count(1)
        from
        a_apply_order
        <where>
            <if test="applyType != null and applyType != ''">
                and APPLY_TYPE = #{auditType,jdbcType=VARCHAR}
            </if>
            <if test="startTime != null and startTime != '' and endTIme != null and endTime != ''">
                and APPLY_TIME in (#{startTime,jdbcType=TIMESTAMP},#{endTime,jdbcType=TIMESTAMP})
            </if>
            <if test="applyState != null and applyState != ''">
                and APPLY_TYPE = #{auditType,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <!--生成采购应付单  add(T t)  给沧海-->
    <insert id="add" parameterType="com.gameloft9.demo.dataaccess.model.system.SysFinanceApplyOrder">
        insert into a_apply_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">
              ID,
            </if>
            <if test="applyId != null and applyId != ''">
                APPLY_ID,
            </if>
            <if test="applyUser != null and applyUser != ''">
                APPLY_USER,
            </if>
            <if test="applyTime != null and applyTime != ''">
                APPLY_TIME,
            </if>
            <if test="applyType != null and applyType != ''">
                APPLY_TYPE,
            </if>
            <if test="applyMoney != null and applyMoney != ''">
                APPLY_MONEY,
            </if>
            <if test="applyState != null and applyState != ''">
                APPLY_STATE,
            </if>
        </trim>
        <trim prefix=" values(" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="applyId != null and applyId != ''">
                #{applyId,jdbcType=VARCHAR},
            </if>
            <if test="applyUser != null and applyUser != ''">
                #{applyUser,jdbcType=VARCHAR},
            </if>
            <if test="applyTime != null and applyTime != ''">
                #{applyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="applyType != null and applyType != ''">
                #{applyType,jdbcType=VARCHAR},
            </if>
            <if test="applyMoney != null and applyMoney != ''">
                #{applyMoney,jdbcType=VARCHAR},
            </if>
            <if test="applyState != null and applyState != ''">
                #{applyState,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>



</mapper>