<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gameloft9.demo.dataaccess.dao.system.FinanceSaleReceivableMapper">

    <resultMap id="saleReceivableMap" type="com.gameloft9.demo.dataaccess.model.system.SysFinanceSaleReceivable">
        <id property="id" column="ID" jdbcType="VARCHAR"/>
        <result property="saleId" column="SALE_ID" jdbcType="VARCHAR"/>
        <result property="auditType" column="AUDIT_TYPE" jdbcType="INTEGER"/>
        <result property="unitPrice" column="UNIT_PRICE" jdbcType="VARCHAR"/>
        <result property="productNumber" column="PRODUCT_NUMBER" jdbcType="VARCHAR"/>
        <result property="totalPrice" column="TOTAL_PRICE" jdbcType="VARCHAR"/>
        <result property="actualBalance" column="ACTUAL_BALANCE" jdbcType="VARCHAR"/>
        <result property="documentMaker" column="DOCUMENT_MAKER" jdbcType="VARCHAR"/>
        <result property="documentMakeTime" column="DOCUMENT_MAKE_TIME" jdbcType="TIMESTAMP"/>
        <result property="auditUser" column="AUDIT_USER" jdbcType="VARCHAR"/>
        <result property="auditTime" column="AUDIT_TIME" jdbcType="TIMESTAMP"/>
        <result property="auditDescribe" column="AUDIT_DESCRIBE" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查找所有的采购应付单   List<SysFinanceSaleBillsPayable> getAll
            @Param("start") int start,
            @Param("end") int end,
            @Param("auditType") int auditType,
            @Param("documentMakeTime") Date documentMakeTime
            );-->
    <select id="getAll" resultMap="saleReceivableMap">
        select
        *
        from
        a_sale_receivable
        <where>
                and AUDIT_TYPE=4
        </where>
        limit #{start},#{end}
    </select>

    <!--条件查询总条数   int getCount(
            @Param("auditType") int auditType,
            @Param("documentMakeTime") Date documentMakeTime
    );-->
    <select id="getCount" resultType="int">
        select
          count(1)
        from
          a_sale_receivable
        <where>
            and AUDIT_TYPE=4
        </where>
    </select>
</mapper>