<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gameloft9.demo.dataaccess.dao.system.FinanceSaleBillsPayableMapper">

    <resultMap id="saleBillsPayableMap" type="com.gameloft9.demo.dataaccess.model.system.SysFinanceSaleBillsPayable">
        <id property="id" column="ID" jdbcType="VARCHAR"/>
        <result property="saleRejectedId" column="SALE_REJECTED_ID" jdbcType="VARCHAR"/>
        <result property="auditType" column="AUDIT_TYPE" jdbcType="INTEGER"/>
        <result property="unitPrice" column="UNIT_PRICE" jdbcType="VARCHAR"/>
        <result property="rejectedNumber" column="REJECTED_NUMBER" jdbcType="VARCHAR"/>
        <result property="totalPrice" column="TOTAL_PRICE" jdbcType="VARCHAR"/>
        <result property="actualBalance" column="ACTUAL_BALANCE" jdbcType="VARCHAR"/>
        <result property="documentMaker" column="DOCUMENT_MAKER" jdbcType="VARCHAR"/>
        <result property="documentMakeTime" column="DOCUMENT_MAKE_TIME" jdbcType="TIMESTAMP"/>
        <result property="auditUser" column="AUDIT_USER" jdbcType="VARCHAR"/>
        <result property="auditTime" column="AUDIT_TIME" jdbcType="TIMESTAMP"/>
        <result property="auditDescribe" column="AUDIT_DESCRIBE" jdbcType="VARCHAR"/>
        <result property="auditState" column="AUDIT_STATE" jdbcType="INTEGER"/>
    </resultMap>

    <!--查找所有的采购应付单   List<SysFinanceSaleBillsPayable> getAll
            @Param("start") int start,
            @Param("end") int end,
            @Param("auditType") int auditType,
            @Param("documentMakeTime") Date documentMakeTime
            );-->
    <select id="getAll" resultMap="saleBillsPayableMap">
        select
        *
        from
        a_sale_bills_payable
        <where>
            <if test="auditState != null and auditState != ''">
                AUDIT_STATE = #{auditState,jdbcType=INTEGER}
            </if>
        </where>
        limit #{start},#{end}
    </select>

    <!--条件查询总条数   int getCount(
            @Param("auditType") int auditType,
            @Param("documentMakeTime") Date documentMakeTime
    );-->
    <select id="getCount" resultType="int">
        select
        count(1)
        from
        a_sale_bills_payable
        <where>
            <if test="auditState != null and auditState != ''">
                AUDIT_STATE = #{auditState,jdbcType=INTEGER}
            </if>
        </where>
    </select>
</mapper>