<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gameloft9.demo.dataaccess.dao.system.FinancePurchaseReceivableMapper">

    <resultMap id="purchaseReceivableMap" type="com.gameloft9.demo.dataaccess.model.system.SysFinancePurchaseReceivable">
        <id property="id" column="ID" jdbcType="VARCHAR"/>
        <id property="pid" column="PID" jdbcType="VARCHAR"/>
        <result property="purchaseOrderRejectedId" column="PURCHASE_ORDER_REJECTED_ID" jdbcType="VARCHAR"/>
        <result property="auditType" column="AUDIT_TYPE" jdbcType="INTEGER"/>
        <result property="unitPrice" column="UNIT_PRICE" jdbcType="VARCHAR"/>
        <result property="rejectedNumber" column="REJECTED_NUMBER" jdbcType="VARCHAR"/>
        <result property="totalPrice" column="TOTAL_PRICE" jdbcType="VARCHAR"/>
        <result property="actualBalance" column="ACTUAL_BALANCE" jdbcType="VARCHAR"/>
        <result property="documentMaker" column="DOCUMENT_MAKER" jdbcType="VARCHAR"/>
        <result property="documentMakeTime" column="DOCUMENT_MAKE_TIME" jdbcType="TIMESTAMP"/>
        <result property="auditUser" column="AUDIT_USER" jdbcType="VARCHAR"/>
        <result property="auditTime" column="AUDIT_TIME" jdbcType="TIMESTAMP"/>
        <result property="auditDescribe" column="AUDIT_DESCRIBE" jdbcType="VARCHAR"/>
        <result property="publicId" column="PUBLIC_ID" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查找所有的采购应付单   List<SysFinancePurchaseBillsPayable> getAll(
            @Param("start") int start,
            @Param("end") int end,
            @Param("auditType") int auditType,
            @Param("documentMakeTime") Date documentMakeTime
            );-->
    <select id="getAll" resultMap="purchaseReceivableMap">
        select
        p.PURCHASE_ORDER_REJECTED_ID,
        f.AUDIT_TYPE,
        f.UNIT_PRICE,
        p.REJECTED_NUMBER,
        f.TOTAL_PRICE,
        f.ACTUAL_BALANCE,
        f.DOCUMENT_MAKER,
        f.DOCUMENT_MAKE_TIME,
        f.AUDIT_USER,
        f.AUDIT_TIME,
        f.AUDIT_DESCRIBE
        from
        a_finance_public_purchase_sale f,
        a_purchase_receivable p
        <where>
            <if test="auditType != null and auditType != ''">
                and f.AUDIT_TYPE = #{auditType,jdbcType=VARCHAR}
            </if>
            <if test="startTime != null and startTime != '' and endTIme != null and endTime != ''">
                and f.DOCUMENT_MAKE_TIME in (#{startTime,jdbcType=TIMESTAMP},#{endTime,jdbcType=TIMESTAMP})
            </if>

                and f.PID = p.PUBLIC_ID

        </where>
        limit #{start},#{end}
    </select>

    <!--条件查询总条数   int getCount(
            @Param("auditType") int auditType,
            @Param("documentMakeTime") Date documentMakeTime
    );-->
    <select id="getCount" resultType="int">
        select
          count(1)
        from
          a_finance_public_purchase_sale f,
          a_purchase_receivable p
        <where>
            <if test="auditType != null and auditType != ''">
                and f.AUDIT_TYPE = #{auditType,jdbcType=VARCHAR}
            </if>
            <if test="startTime != null and startTime != '' and endTIme != null and endTime != ''">
                and f.DOCUMENT_MAKE_TIME in (#{startTime,jdbcType=TIMESTAMP},#{endTime,jdbcType=TIMESTAMP})
            </if>

                and f.PID = p.PUBLIC_ID

        </where>
    </select>
</mapper>