<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--mapper映射-->
<mapper namespace="com.gameloft9.demo.dataaccess.dao.system.LenFormulaReachMapper">
    <!--结果集映射-->
    <resultMap id="BaseResultMap" type="com.gameloft9.demo.dataaccess.model.system.LenFormulaReach">
            <id column="ID" property="id"/>
            <result column="PRODUCT_ID" property="productId"/>
            <result column="PRODUCE_FORMULA_ID" property="produceFormulaId" jdbcType="VARCHAR"/>
            <result column="PRODUCE_FORMULA_DETAIL_ID" property="produceFormulaDetailId"/>
            <result column="DEPOT_AUDI" property="depotAudi"/>
            <result column="STATE" property="state"/>
            <result column="REACH_USER" property="reachUser"/>
            <result column="REACH_TIME" property="reachTime" jdbcType="DATE"/>
            <result column="FORMULA_BACK" property="formulaBack"/>
            <result column="OTHER1" property="other1"/>
            <result column="OTHER2" property="other2"/>
            <result column="OTHER3" property="other3"/>
    </resultMap>



    <sql id="Base_Column_List">
      ID,PRODUCT_ID,PRODUCE_FORMULA_ID,PRODUCE_FORMULA_DETAIL_ID,FORMULA_BACK,DEPOT_AUDI,STATE,REACH_USER,REACH_TIME,OTHER1,OTHER2,OTHER3
     </sql>

    <select id="selectAll" resultMap="BaseResultMap">

        select  ID,PRODUCT_ID,PRODUCE_FORMULA_ID,FORMULA_BACK,PRODUCE_FORMULA_DETAIL_ID,DEPOT_AUDI,STATE,REACH_USER,REACH_TIME,OTHER1,OTHER2,OTHER3 from l_formula_reach
    </select>
    <select id="getByPrimaryKey" resultMap="BaseResultMap" >
        select
        ID,PRODUCT_ID,PRODUCE_FORMULA_ID,FORMULA_BACK,PRODUCE_FORMULA_DETAIL_ID,DEPOT_AUDI,STATE,REACH_USER,REACH_TIME,OTHER1,OTHER2,OTHER3
        from l_formula_reach
        where ID = #{id,jdbcType=VARCHAR}
    </select>


    <!--mysql版本/分页查询-->
    <select id="selectByPage" resultMap="BaseResultMap">
        select ID,PRODUCT_ID,PRODUCE_FORMULA_ID,FORMULA_BACK,PRODUCE_FORMULA_DETAIL_ID,DEPOT_AUDI,STATE,REACH_USER,REACH_TIME,OTHER1,OTHER2,OTHER3 from l_formula_reach t
        where 1=1
        <if test="productId != null and productId != ''">
            and t.PRODUCT_ID= #{productId,jdbcType=VARCHAR}
        </if>
        <if test="reachUser != null and reachUser != ''">
            and t.REACH_USER = #{reachUser,jdbcType=VARCHAR}
        </if>
        order by t.id desc
        limit #{start,jdbcType=DECIMAL},#{end,jdbcType=DECIMAL}
    </select>

    <!--oracle版本
    <select id="getAll" resultMap="BaseResultMap">
        select a.* from(
        select b.*,rownum row_num
        from( select * from USER_TEST t
        where 1=1
        <if test="loginName != null and loginName != ''">
            and t.LOGIN_NAME = #{loginName,jdbcType=VARCHAR}
        </if>
        <if test="realName != null and realName != ''">
            and t.REAL_NAME = #{realName,jdbcType=VARCHAR}
        </if>
        <if test="isForbidden != null and isForbidden != ''">
            and t.IS_FORBIDDEN = #{isForbidden,jdbcType=VARCHAR}
        </if>
        order by t.UPDATE_DATE desc,t.id desc
        ) b
        where rownum &lt; #{end,jdbcType=DECIMAL}
        )a where row_num &gt; #{start,jdbcType=DECIMAL}
    </select>-->
    <select id="dataCount" parameterType="map" resultType="Integer">
        select count(1) from l_formula_reach t
        where 1=1
        <if test="state != null and state != ''">
            and t.STATE = #{state,jdbcType=VARCHAR}
        </if>

    </select>


    <delete id="delete" parameterType="java.lang.String">
    delete from l_formula_reach
    where ID = #{id,jdbcType=VARCHAR}
  </delete>


    <insert id="insert" parameterType="com.gameloft9.demo.dataaccess.model.system.LenFormulaReach">
    insert into l_formula_reach ( ID,PRODUCT_ID,PRODUCE_FORMULA_ID,PRODUCE_FORMULA_DETAIL_ID,STATE,FORMULA_BACK,DEPOT_AUDI,REACH_USER,REACH_TIME,OTHER1,OTHER2,OTHER3)
    values (
    #{id},
    #{productId},
    #{produceFormulaId},
    #{produceFormulaDetailId},
    #{state},
    #{formulaBack},
    #{depotAudi},
    #{reachUser},
    #{reachTime},
    #{other1},
    #{other2},
    #{other3}
    )
  </insert>
    <!--<insert id="insertSelective" parameterType="com.gameloft9.demo.dataaccess.model.system.LenProduct">
        insert into l_produce_plan
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="productName != null">
                PRODUCT_TYPE,
            </if>
            <if test="productType != null">
                PRODUCT_TYPE,
            </if>
            <if test="productNumber != null">
                PRODUCT_NUMBER,
            </if>
            <if test="canSold != null">
                canSold,
            </if>
            <if test="supportPrice != null">
                SUPPORT_PRICE,
            </if>
            <if test="state != null">
                STATE,
            </if>
            <if test="productDescribe != null">
                PRODUCT_DESCRIBE,
            </if>
            <if test="other1 != null">
                OTHER1,
            </if>
            <if test="other2 != null">
                OTHER2,
            </if>
            <if test="other3 != null">
                OTHER3
            </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="productName != null">
                #{productName,jdbcType=VARCHAR},
            </if>
            <if test="productType != null">
                #{productType,jdbcType=VARCHAR},
            </if>
            <if test="productNumber != null">
                #{productNumber,jdbcType=VARCHAR},
            </if>
            <if test="canSold != null">
                #{canSold,jdbcType=VARCHAR},
            </if>
            <if test="supportPrice != null">
                #{supportPrice,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                #{state,jdbcType=VARCHAR},
            </if>
            <if test="productDescribe != null">
                #{productDescribe,jdbcType=VARCHAR},
            </if>
            <if test="other1 != null">
                #{other1,jdbcType=VARCHAR},
            </if>
            <if test="other2 != null">
                #{other2,jdbcType=VARCHAR},
            </if>
            <if test="other3 != null">
                #{other3,jdbcType=VARCHAR}
            </if>
        </trim>


    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.gameloft9.demo.dataaccess.model.system.LenProduct">
        update l_produce_plan
        <set>
            <if test="id != null">
                ID,
            </if>
            <if test="productName != null">
                PRODUCT_NAME,
            </if>
            <if test="productType != null">
                PRODUCT_TYPE,
            </if>
            <if test="productNumber != null">
                PRODUCT_NUMBER,
            </if>
            <if test="canSold != null">
                CAN_SOLD,
            </if>
            <if test="supportPrice != null">
                SUPPORT_PRICE,
            </if>
            <if test="state != null">
                STATE,
            </if>
            <if test="productDescribe != null">
                PRODUCT_DESCRIBE,
            </if>
            <if test="other1 != null">
                OTHER1,
            </if>
            <if test="other2 != null">
                OTHER2,
            </if>
            <if test="other3 != null">
                OTHER3
            </if>
        </set>
        where ID = #{id,jdbcType=VARCHAR}
    </update>-->

    <update id="update" parameterType="com.gameloft9.demo.dataaccess.model.system.LenFormulaReach">
    update l_formula_reach
    set

     PRODUCT_ID=#{productId},
     PRODUCE_FORMULA_ID=#{produceFormulaId},
     PRODUCE_FORMULA_DETAIL_ID= #{produceFormulaDetailId},
     STATE= #{state},
     DEPOT_AUDI=#{depotAudi},
     REACH_USER= #{reachUser},
     REACH_TIME=#{reachTime},
     FORMULA_BACK=#{formulaBack},
     OTHER1=#{other1},
     OTHER2=#{other2},
     OTHER3=#{other3}
    where ID = #{id,jdbcType=VARCHAR}
  </update>


    <update id="changeState" parameterType="String">
        update l_formula_reach set STATE=#{state} where ID = #{id,jdbcType=VARCHAR}
    </update>

    <update id="changeDepot" parameterType="String">
        update l_formula_reach set DEPOT_AUDI=#{depot} where ID = #{id,jdbcType=VARCHAR}
    </update>
    <select id="getByProductId" resultMap="BaseResultMap">
        select * from stone.l_formula_reach fr where fr.PRODUCT_ID=#{productId}
    </select>
</mapper>

