<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--mapper映射-->
<mapper namespace="com.gameloft9.demo.dataaccess.dao.system.LenProduceFormulaMapper">
    <!--结果集映射-->
    <resultMap id="BaseResultMap" type="com.gameloft9.demo.dataaccess.model.system.LenProduceFormula">
            <id column="ID" property="id"/>
           <result column="PRODUCT_ID" property="productId"/>
            <result column="FORMULA_TYPE" property="formulaType"/>
            <result column="FORMULA_NUMBER" property="formulaNumber"/>
            <result column="CREATE_USER" property="createUser"/>
            <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP"/>
            <result column="OTHER1" property="other1"/>
            <result column="OTHER2" property="other2"/>
            <result column="OTHER3" property="other3"/>
    </resultMap>

    <sql id="Base_Column_List">
    ID,PRODUCT_ID,FORMULA_TYPE,FORMULA_NUMBER,CREATE_USER,OTHER1,OTHER2,OTHER3,CREATE_TIME
     </sql>

    <select id="getByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from l_produce_formula
        where ID = #{id,jdbcType=VARCHAR}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">

        select ID,PRODUCT_ID,FORMULA_TYPE,FORMULA_NUMBER,CREATE_USER,CREATE_TIME,OTHER1,OTHER2,OTHER3
        from l_produce_formula
    </select>


    <!--mysql版本-->
    <select id="selectByPage" resultMap="BaseResultMap">
        select * from l_produce_formula t
        where 1=1
        <if test="productId != null and productId != ''">
            and t.PRODUCT_ID = #{productId,jdbcType=VARCHAR}
        </if>
        <if test="createUser != null and createUser != ''">
            and t.CREATE_USER = #{createUser,jdbcType=VARCHAR}
        </if>
        order by t.CREATE_TIME desc
        limit #{start,jdbcType=DECIMAL},#{end,jdbcType=DECIMAL}
    </select>

    <!--oracle版本
    <select id="getAll" resultMap="BaseResultMap">
        select a.* from(
        select b.*,rownum row_num
        from( select * from USER_TEST t
        where 1=1
        <if test="loginName != null and loginName != ''">
            and t.LOGIN_NAME = #{loginName,jdbcType=VARCHAR}
        </if>
        <if test="realName != null and realName != ''">
            and t.REAL_NAME = #{realName,jdbcType=VARCHAR}
        </if>
        <if test="isForbidden != null and isForbidden != ''">
            and t.IS_FORBIDDEN = #{isForbidden,jdbcType=VARCHAR}
        </if>
        order by t.UPDATE_DATE desc,t.id desc
        ) b
        where rownum &lt; #{end,jdbcType=DECIMAL}
        )a where row_num &gt; #{start,jdbcType=DECIMAL}
    </select>-->
    <select id="dataCount" parameterType="map" resultType="Integer">
        select count(1) from l_produce_formula t
        where 1=1
        <if test="productId != null and productId != ''">
            and t.PRODUCT_ID = #{productId,jdbcType=VARCHAR}
        </if>

    </select>


    <delete id="delete" parameterType="java.lang.String">
    delete from l_produce_formula
    where ID = #{id,jdbcType=VARCHAR}
  </delete>


    <insert id="insert" parameterType="com.gameloft9.demo.dataaccess.model.system.LenProduceFormula">
    insert into l_produce_formula ( ID,PRODUCT_ID,FORMULA_TYPE,FORMULA_NUMBER,CREATE_USER,CREATE_TIME,OTHER1,OTHER2,OTHER3)
    values (
    #{id},
    #{productId},
    #{formulaType},
    #{formulaNumber},
    #{createUser},
    #{createTime},
    #{other1},
    #{other2},
    #{other3}
    )

  </insert>
    <insert id="insertSelective" parameterType="com.gameloft9.demo.dataaccess.model.system.LenProduceFormula">
        insert into l_produce_formula
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="productId != null">
                PRODUCT_ID,
            </if>
            <if test="formulaType != null">
                FORMULA_NUMBER,
            </if>
            <if test="formulaNumber != null">
                FORMULA_NUMBER,
            </if>
            <if test="createUser != null">
                CREATE_USER,
            </if>
            <if test="createTime != null">
                CREATE_TIME,
            </if>
            <if test="other1 != null">
                OTHER1,
            </if>
            <if test="other2 != null">
                OTHER2,
            </if>
            <if test="other3 != null">
                OTHER3,
            </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="productId != null">
                #{productId,jdbcType=VARCHAR},
            </if>
            <if test="formulaType != null">
                #{formulaType,jdbcType=VARCHAR},
            </if>
            <if test="formulaNumber != null">
                #{formulaNumber,jdbcType=VARCHAR},
            </if>
            <if test="createUser != null">
                #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=VARCHAR},
            </if>
            <if test="other1 != null">
                #{other1,jdbcType=VARCHAR},
            </if>
            <if test="other2 != null">
                #{other2,jdbcType=VARCHAR},
            </if>
            <if test="other3 != null">
                #{other3,jdbcType=VARCHAR},
            </if>
        </trim>


    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.gameloft9.demo.dataaccess.model.system.LenProduceFormula">
        update l_produce_formula
        <set>
            <if test="id != null">
                ID,
            </if>
            <if test="productId != null">
                PRODUCT_ID,
            </if>
            <if test="formulaType != null">
                FORMULA_TYPE,
            </if>
            <if test="formulaNumber != null">
                FORMULA_NUMBER,
            </if>
            <if test="createUser != null">
                CREATE_USER,
            </if>
            <if test="createTime != null">
                CREATE_Time,
            </if>
            <if test="other1 != null">
                OTHER1,
            </if>
            <if test="other2 != null">
                OTHER2,
            </if>
            <if test="other3 != null">
                OTHER3,
            </if>
        </set>
        where ID = #{id,jdbcType=VARCHAR}
    </update>

    <update id="update" parameterType="com.gameloft9.demo.dataaccess.model.system.LenProduceFormula">
    update l_produce_formula
    set
    PRODUCT_ID=#{productId},
    FORMULA_TYPE=#{formulaType},
    FORMULA_NUMBER=#{formulaNumber},
    CREATE_USER=#{createUser},
    CREATE_TIME=#{createTime},
    OTHER1=#{other1},
    OTHER2=#{other2},
    OTHER3#{other3}
    where ID = #{id,jdbcType=VARCHAR}
  </update>

    <select id="getByProductId" resultMap="BaseResultMap">
        select * from  l_produce_formula  where PRODUCT_ID=#{productId}
    </select>
</mapper>

