<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--mapper映射-->
<mapper namespace="com.gameloft9.demo.dataaccess.dao.system.MarkerOrderMapper">
    <!--结果集映射-->
    <resultMap id="MarkerOrderResultMap" type="com.gameloft9.demo.dataaccess.model.system.MarkerOrderTest">
        <id column="ID" property="id" jdbcType="VARCHAR"/>
        <result column="ORDER_ID" property="orderId" jdbcType="VARCHAR"/>
        <result column="ORDER_TIME" property="orderTime" jdbcType="TIMESTAMP"/>
        <result column="PRODUCT_ID" property="productId" jdbcType="VARCHAR"/>
        <result column="CUSTOMER" property="customer" jdbcType="VARCHAR"/>
        <result column="DELIVER_NUMBER" property="deliverNumber" jdbcType="VARCHAR"/>
        <result column="PLANNED_NUMBER" property="plannedNumber" jdbcType="VARCHAR"/>
        <result column="ACCEPTED_AMOUNT" property="acceptedAmount" jdbcType="VARCHAR"/>
        <result column="APPLY_USER" property="applyUser" jdbcType="VARCHAR"/>
        <result column="STATE" property="state" jdbcType="VARCHAR"/>
        <result column="ORDER_AUDIT_USER" property="orderAuditUser" jdbcType="VARCHAR"/>
        <result column="ORDER_AUDIT_DEPOT" property="orderAuditDepot" jdbcType="VARCHAR"/>
        <result column="REMARKS" property="remarks" jdbcType="VARCHAR"/>
        <result column="DEPOT_REMARKS" property="depotRemarks" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,
        ORDER_ID,
        ORDER_TIME,
        PRODUCT_ID,
        CUSTOMER,
        DELIVER_NUMBER,
        PLANNED_NUMBER,
        ACCEPTED_AMOUNT,
        APPLY_USER,
        STATE,
        ORDER_AUDIT_USER,
        ORDER_AUDIT_DEPOT,
        REMARKS,
        DEPOT_REMARKS
    </sql>





<!--提交audi-->
    <update id="audiUpdate" parameterType="com.gameloft9.demo.dataaccess.model.system.MarkerOrderTest">
        update
        w_marker_order
        <set>
            <if test="state != null and state != ''">
                STATE = #{state,jdbcType=VARCHAR}
            </if>
        </set>
        <where>
            <if test="id != null and id != ''">
                and ID = #{id,jdbcType=VARCHAR}
            </if>
        </where>


    </update>

    <!--提交仓库审核-->
    <update id="submit" parameterType="com.gameloft9.demo.dataaccess.model.system.MarkerOrderTest">
        update
        w_marker_order
        <set>
            <if test="state != null and state != ''">
                STATE = #{state,jdbcType=VARCHAR}
            </if>
        </set>
        <where>
            <if test="id != null and id != ''">
                and ID = #{id,jdbcType=VARCHAR}
            </if>
        </where>
    </update>

    <!--撤回back-->
    <update id="backUpdate" parameterType="com.gameloft9.demo.dataaccess.model.system.MarkerOrderTest">
        update
        w_marker_order
        <set>
            <if test="state != null and state != ''">
                STATE = #{state,jdbcType=VARCHAR}
            </if>
        </set>
        <where>
            <if test="id != null and id != ''">
                and ID = #{id,jdbcType=VARCHAR}
            </if>
        </where>
    </update>

    <!--提交财务-->
    <update id="fina" parameterType="com.gameloft9.demo.dataaccess.model.system.MarkerOrderTest">
        update
        w_marker_order
        <set>
            <if test="state != null and state != ''">
                STATE = #{state,jdbcType=VARCHAR}
            </if>
        </set>
        <where>
            <if test="id != null and id != ''">
                and ID = #{id,jdbcType=VARCHAR}
            </if>
        </where>
    </update>

    <!--获取产品id下拉框-->
    <select id="getProductId" parameterType="java.lang.String">
        select DISTINCT
        PRODUCT_ID
        from
          w_marker_order

    </select>

    <!--获取角色ID-->

    <select id="getMaker" resultMap="MarkerOrderResultMap" parameterType="java.lang.String">
        select
           ID,
           ORDER_ID,
           ORDER_TIME,
           PRODUCT_ID,
           CUSTOMER,
           DELIVER_NUMBER,
           PLANNED_NUMBER,
           ACCEPTED_AMOUNT,
           APPLY_USER,
           STATE,
           ORDER_AUDIT_USER,
           ORDER_AUDIT_DEPOT,
           REMARKS,
           DEPOT_REMARKS
        from
          w_marker_order
        where
          ID = #{id,jdbcType=VARCHAR}
    </select>

    <!--查找所有分页模糊查询-->
    <select id="findAll"  parameterType="map" resultMap="MarkerOrderResultMap">
        select
          <include refid="Base_Column_List"/>
        from
          w_marker_order
        <where>
            <if test="productId != null and productId != ''">
                and PRODUCT_ID = #{productId,jdbcType=VARCHAR}
            </if>

        </where>
        order by ORDER_TIME desc

          limit #{start,jdbcType=DECIMAL},#{end,jdbcType=DECIMAL}
    </select>

    <!--查找条数-->
    <select id="countGetAll" resultType="int" parameterType="map">

        select
        count(1)
        from w_marker_order t
        <where>
            <if test="productId != null and productId != ''">
                and t.PRODUCT_ID = #{productId,jdbcType=VARCHAR}
            </if>

        </where>
    </select>


    <!--通过ID删除-->
    <delete id="deleteById" parameterType="java.lang.String">
    delete from w_marker_order
    where ID = #{id}
  </delete>
    <!--添加-->
    <insert id="add" parameterType="com.gameloft9.demo.dataaccess.model.system.MarkerOrderTest">
        insert into
          w_marker_order
          (ID,
          ORDER_ID,
          ORDER_TIME,
          PRODUCT_ID,
          CUSTOMER,
          DELIVER_NUMBER,
          PLANNED_NUMBER,
          ACCEPTED_AMOUNT,
          APPLY_USER,
          STATE,
          ORDER_AUDIT_USER,
          ORDER_AUDIT_DEPOT,
          REMARKS,
          DEPOT_REMARKS)
        values
          (#{id},
          #{orderId},
          #{orderTime},
          #{productId},
          #{customer},
          #{deliverNumber},
          #{plannedNumber},
          #{acceptedAmount},
          #{applyUser},
          #{state},
          #{orderAuditUser},
          #{orderAuditDepot},
          #{remarks},
          #{depotRemarks})

    </insert>
    <!--修改-->
    <update id="update" parameterType="com.gameloft9.demo.dataaccess.model.system.MarkerOrderTest">
        update
            w_marker_order
        set
            ORDER_ID=#{orderId},
            ORDER_TIME=#{orderTime},
            PRODUCT_ID=#{productId},
            CUSTOMER=#{customer},
            DELIVER_NUMBER=#{deliverNumber},
            PLANNED_NUMBER=#{plannedNumber},
            ACCEPTED_AMOUNT=#{acceptedAmount},
            APPLY_USER=#{applyUser},
            ORDER_AUDIT_USER=#{orderAuditUser},
            ORDER_AUDIT_DEPOT=#{orderAuditDepot},
            REMARKS=#{remarks},
            STATE=#(state),
            DEPOT_REMARKS=#{depotRemarks}
        where
            ID=#{id}
  </update>




</mapper>