<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--mapper映射-->
<mapper namespace="com.gameloft9.demo.dataaccess.dao.system.ShipmentOrderMapper">
    <!--结果集映射-->
    <resultMap id="ShipmentOrderResultMap" type="com.gameloft9.demo.dataaccess.model.system.ShipmentOrder">
        <id column="ID" property="id" jdbcType="VARCHAR"/>
        <result column="SHIPMENT_ID" property="shipmentId" jdbcType="VARCHAR"/>
        <result column="GOODS_NAME" property="goodsName" jdbcType="VARCHAR"/>
        <result column="CUSTOMER" property="customer" jdbcType="VARCHAR"/>
        <result column="QUANTITY_NUMBER" property="quantityNumber" jdbcType="VARCHAR"/>
        <result column="DELIVERY_TIME" property="deliveryTime" jdbcType="TIMESTAMP"/>
        <result column="RECEIVING_ADDRESS" property="receivingAddress" jdbcType="VARCHAR"/>
        <result column="PHONE" property="phone" jdbcType="VARCHAR"/>
        <result column="CONSIGNEE" property="consignee" jdbcType="VARCHAR"/>
        <result column="RECEIVING_TIME" property="receivingTime" jdbcType="TIMESTAMP"/>
        <result column="STATE" property="state" jdbcType="VARCHAR"/>
        <result column="REMARKS" property="remarks" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,
       SHIPMENT_ID,
       GOODS_NAME,
       CUSTOMER,
       QUANTITY_NUMBER,
       DELIVERY_TIME,
       RECEIVING_ADDRESS,
       PHONE,
       CONSIGNEE,
       RECEIVING_TIME,
       STATE,
       REMARKS
    </sql>



    <!--提交confirm-->
    <update id="confirmUpdate" parameterType="com.gameloft9.demo.dataaccess.model.system.ShipmentOrder">
        update
        w_shipment_order
        <set>
            <if test="state != null and state != ''">
                STATE = #{state,jdbcType=VARCHAR}
            </if>
        </set>
        <where>
            <if test="id != null and id != ''">
                and ID = #{id,jdbcType=VARCHAR}
            </if>
        </where>
    </update>

    <!--撤回back-->
    <update id="backUpdate" parameterType="com.gameloft9.demo.dataaccess.model.system.ShipmentOrder">
        update
        w_marker_order
        <set>
            <if test="state != null and state != ''">
                STATE = #{state,jdbcType=VARCHAR}
            </if>
        </set>
        <where>
            <if test="id != null and id != ''">
                and ID = #{id,jdbcType=VARCHAR}
            </if>
        </where>
    </update>



    <!--获取角色ID-->

    <select id="getById" resultMap="ShipmentOrderResultMap" parameterType="java.lang.String">
        select
        ID,
       SHIPMENT_ID,
       GOODS_NAME,
       CUSTOMER,
       QUANTITY_NUMBER,
       DELIVERY_TIME,
       RECEIVING_ADDRESS,
       PHONE,
       CONSIGNEE,
       RECEIVING_TIME,
       STATE,
       REMARKS
        from
          w_shipment_order
        where
          ID = #{id,jdbcType=VARCHAR}
    </select>

    <!--查找所有分页模糊查询-->
    <select id="findAll"  parameterType="map" resultMap="ShipmentOrderResultMap">
        select
        <include refid="Base_Column_List"/>
        from
         w_shipment_order
        <where>
            <if test="shipmentId != null and shipmentId!= ''">
                and SHIPMENT_ID = #{shipmentId,jdbcType=VARCHAR}
            </if>
        </where>
        order by ID asc
        limit #{start,jdbcType=DECIMAL},#{end,jdbcType=DECIMAL}
    </select>

    <!--查找条数-->
    <select id="countGetAll" resultType="int" parameterType="map">
        select
        count(1)
        from w_shipment_order
        <where>
            <if test="shipmentId != null and shipmentId != ''">
                and SHIPMENT_ID = #{shipmentId,jdbcType=VARCHAR}
            </if>
        </where>
    </select>



    <!--通过ID删除-->
    <delete id="deleteById" parameterType="java.lang.String">
    delete from w_shipment_order
    where ID = #{id}
  </delete>
    <!--添加-->
    <insert id="add" parameterType="com.gameloft9.demo.dataaccess.model.system.ShipmentOrder">
        insert into
          w_shipment_order
          (ID,
       SHIPMENT_ID,
       GOODS_NAME,
       CUSTOMER,
       QUANTITY_NUMBER,
       DELIVERY_TIME,
       RECEIVING_ADDRESS,
       PHONE,
       CONSIGNEE,
       RECEIVING_TIME,
       STATE,
       REMARKS)
        values
          (#{id},
          #{shipmentId},
          #{goodsName},
          #{customer},
          #{quantityNumber},
          #{deliveryTime},
          #{receivingAddress},
          #{phone},
          #{consignee},
          #{receivingTime},
          #{state},
          #{remarks})
    </insert>
    <!--修改-->
    <update id="update" parameterType="com.gameloft9.demo.dataaccess.model.system.ShipmentOrder">
        update
           w_shipment_order
        set
            SHIPMENT_ID=#{shipmentId},
            GOODS_NAME=#{goodsName},
            CUSTOMER=#{customer},
            QUANTITY_NUMBER=#{quantityNumber},
            DELIVERY_TIME=#{deliveryTime},
            RECEIVING_ADDRESS=#{receivingAddress},
            PHONE=#{phone},
            CONSIGNEE=#{consignee},
            RECEIVING_TIME=#{receivingTime},
            STATE=#{state},
            REMARKS=#{remarks}
        where
            ID=#{id}
  </update>

</mapper>