<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gameloft9.demo.dataaccess.dao.system.SysDepotMapper">
    <resultMap id="BaseResultMap" type="com.gameloft9.demo.dataaccess.model.system.SysDepot">
        <id column="ID" property="id" jdbcType="VARCHAR"/>
        <result column="DEPOT_NAME" property="depotName" jdbcType="VARCHAR"/>
        <result column="DEPOT_NUMBER" property="depotNumber" jdbcType="VARCHAR"/>
        <result column="DEPOT_TYPE" property="depotType" jdbcType="VARCHAR"/>
        <result column="DEPOT_ADDRESS" property="depotAddress" jdbcType="VARCHAR"/>
        <result column="DEPOT_DESCRIBE" property="depotDescribe" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        ID, DEPOT_NAME, DEPOT_NUMBER, DEPOT_TYPE, DEPOT_ADDRESS, DEPOT_DESCRIBE
    </sql>
    <select id="getAll" resultMap="BaseResultMap" parameterType="map">
        SELECT
        <include refid = "Base_Column_List" />
        FROM
        D_SYS_DEPOT t
        WHERE 1=1
        <if test="depotNumber !=null and depotNumber != ''">
            AND (
            t.DEPOT_NUMBER LIKE (concat('%',concat(#{depotNumber,jdbcType=VARCHAR},'%')))
            AND t.DEPOT_NUMBER >' '
            )
        </if>
        <if test="depotName !=null and depotName != ''">
            AND (
            t.DEPOT_NAME LIKE (concat('%',concat(#{depotName,jdbcType=VARCHAR},'%')))
            AND t.DEPOT_NAME >' '
            )
        </if>
        <if test="depotType !=null and depotType != ''">
            AND t.DEPOT_TYPE = #{depotType,jdbcType=VARCHAR}
        </if>
        limit #{start,jdbcType=DECIMAL},#{end,jdbcType=DECIMAL}
    </select>
    <select id="countGetAll" resultType="Integer" parameterType="map">
        SELECT COUNT(1)
        FROM D_SYS_DEPOT t
        WHERE 1=1
        <if test="depotNumber !=null and depotNumber != ''">
            AND (
            t.DEPOT_NUMBER LIKE (concat('%',concat(#{depotNumber,jdbcType=VARCHAR},'%')))
            AND t.DEPOT_NUMBER >' '
            )
        </if>
        <if test="depotName !=null and depotName != ''">
            AND (
            t.DEPOT_NAME LIKE (concat('%',concat(#{depotName,jdbcType=VARCHAR},'%')))
            AND t.DEPOT_NAME >' '
            )
        </if>
        <if test="depotType !=null and depotType != ''">
            AND t.DEPOT_TYPE = #{depotType,jdbcType=VARCHAR}
        </if>
    </select>
    <insert id="insertSelective" parameterType="com.gameloft9.demo.dataaccess.model.system.SysDepot">
        INSERT INTO D_SYS_DEPOT
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="depotName != null">
                DEPOT_NAME,
            </if>
            <if test="depotNumber != null">
                DEPOT_NUMBER,
            </if>
            <if test="depotType != null">
                DEPOT_TYPE,
            </if>
            <if test="depotAddress != null">
                DEPOT_ADDRESS,
            </if>
            <if test="depotDescribe != null">
                DEPOT_DESCRIBE,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="depotName != null">
                #{depotName,jdbcType=VARCHAR},
            </if>
            <if test="depotNumber != null">
                #{depotNumber,jdbcType=VARCHAR},
            </if>
            <if test="depotType != null">
                #{depotType,jdbcType=VARCHAR},
            </if>
            <if test="depotAddress != null">
                #{depotAddress,jdbcType=VARCHAR},
            </if>
            <if test="depotDescribe != null">
                #{depotDescribe,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="getById" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT
        <include refid = "Base_Column_List" />
        FROM
        D_SYS_DEPOT t
        WHERE
        t.ID = #{id,jdbcType=VARCHAR}
    </select>
    <update id="updateByPrimaryKeySelective" parameterType="com.gameloft9.demo.dataaccess.model.system.SysDepot" >
        UPDATE D_SYS_DEPOT
        <set >
            <if test="depotName != null" >
                DEPOT_NAME = #{depotName,jdbcType=VARCHAR},
            </if>
            <if test="depotNumber != null" >
                DEPOT_NUMBER = #{depotNumber,jdbcType=VARCHAR},
            </if>
            <if test="depotType != null" >
                DEPOT_TYPE = #{depotType,jdbcType=VARCHAR},
            </if>
            <if test="depotAddress != null" >
                DEPOT_ADDRESS = #{depotAddress,jdbcType=VARCHAR},
            </if>
            <if test="depotDescribe != null" >
                DEPOT_DESCRIBE = #{depotDescribe,jdbcType=VARCHAR},
            </if>
        </set>
        WHERE ID = #{id,jdbcType=VARCHAR}
    </update>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
      DELETE FROM
	    D_SYS_DEPOT
      WHERE
	    ID = #{id,jdbcType=VARCHAR}
    </delete>
    <select id="getByDepotName" parameterType="java.lang.String" resultMap="BaseResultMap">
      SELECT
        <include refid = "Base_Column_List" />
      FROM
        D_SYS_DEPOT t
      WHERE
        t.DEPOT_NAME = #{depotName,jdbcType=VARCHAR}
    </select>
    <select id="getDepotType" resultType="java.lang.String">
      SELECT DISTINCT
	    t.DEPOT_TYPE
      FROM
	    D_SYS_DEPOT t
    </select>
    <select id="getByDepotNumber" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT
        <include refid = "Base_Column_List" />
        FROM
        D_SYS_DEPOT t
        WHERE
        t.DEPOT_NUMBER = #{depotNumber,jdbcType=VARCHAR}
    </select>
    <delete id="delsByIds" parameterType="java.lang.String" >
        DELETE FROM
        D_SYS_DEPOT
        <where>
            <foreach collection="ids" item="id" open="ID in(" close=")" separator=",">
                #{id,jdbcType=VARCHAR}
            </foreach>
        </where>
    </delete>
</mapper>