<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--mapper映射-->
<mapper namespace="com.gameloft9.demo.dataaccess.dao.system.SysNotifyMapper">
    <!--结果集映射-->
    <resultMap id="BaseResultMap" type="com.gameloft9.demo.dataaccess.model.system.SysNotify">
        <id column="ID" property="id" jdbcType="VARCHAR"/>
        <result column="CREATER" property="creater" jdbcType="VARCHAR"/>
        <result column="CREATER_TIME" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="SEND_TIME" property="sendTime" jdbcType="TIMESTAMP"/>
        <result column="RECEIVER_ID" property="receiverId" jdbcType="VARCHAR"/>
        <result column="STATE" property="state" jdbcType="VARCHAR"/>
        <result column="NOTIFYDESCRIBE" property="notifyDescribe" jdbcType="VARCHAR"/>
        <result column="NOTIFYLEVEL" property="notifyLevel" jdbcType="VARCHAR"/>
        <result column="ISREADY" property="isReady" jdbcType="VARCHAR"/>
        <result column="SENDER_ID" property="senderId" jdbcType="VARCHAR"/>
        <result column="NOTIFY_INFO_ID" property="notifyInfoId" jdbcType="VARCHAR"/>
    </resultMap>

<!-- 回复查询，只需要提供发送人段当成收件人 -->
    <resultMap id="sendMessage"  type="com.gameloft9.demo.dataaccess.model.system.SysNotify">
        <id property="id" column="ID"></id>
        <result column="SENDER_ID" property="senderId"></result>
        <association property="sysNotifyInfo" javaType="com.gameloft9.demo.dataaccess.model.system.SysNotifyInfo">
            <result column="NOTIFY_TYPE" property="notifyType" jdbcType="VARCHAR"/>
        </association>
    </resultMap>

    <resultMap id="find"  type="com.gameloft9.demo.dataaccess.model.system.SysNotify">
        <id property="id" column="ID"></id>
       <result column="SEND_TIME" property="sendTime" jdbcType="TIMESTAMP"/>
        <result column="STATE" property="state" jdbcType="VARCHAR"/>
        <result column="SENDER_ID" property="senderId" jdbcType="VARCHAR"/>
        <association property="sysNotifyInfo" javaType="com.gameloft9.demo.dataaccess.model.system.SysNotifyInfo">
            <result column="TITLE" property="title" jdbcType="VARCHAR"/>
            <result column="CONTENT" property="content" jdbcType="VARCHAR"/>
            <result column="NOTIFY_TYPE" property="notifyType" jdbcType="VARCHAR"/>

        </association>

    </resultMap>
<!--查看所有的消息列表-->
    <resultMap id="findAllMessage"  type="com.gameloft9.demo.dataaccess.model.system.SysNotify">
        <id property="id" column="ID"></id>
        <result column="RECEIVER_ID" property="receiverId" jdbcType="VARCHAR"/>
        <result column="SEND_TIME" property="sendTime" jdbcType="TIMESTAMP"/>
        <result column="STATE" property="state" jdbcType="VARCHAR"/>
        <result column="SENDER_ID" property="senderId" jdbcType="VARCHAR"/>
        <association property="sysNotifyInfo" javaType="com.gameloft9.demo.dataaccess.model.system.SysNotifyInfo">
            <result column="TITLE" property="title" jdbcType="VARCHAR"/>
            <result column="CONTENT" property="content" jdbcType="VARCHAR"/>
            <result column="NOTIFY_TYPE" property="notifyType" jdbcType="VARCHAR"/>

        </association>

    </resultMap>

    <resultMap id="outbox"  type="com.gameloft9.demo.dataaccess.model.system.SysNotify">
        <id property="id" column="ID"></id>
        <result column="SEND_TIME" property="sendTime" jdbcType="TIMESTAMP"/>
        <result column="STATE" property="state" jdbcType="VARCHAR"/>
        <result column="SENDER_ID" property="senderId" jdbcType="VARCHAR"/>
        <result column="RECEIVER_ID" property="receiverId" jdbcType="VARCHAR"/>
        <association property="sysNotifyInfo" javaType="com.gameloft9.demo.dataaccess.model.system.SysNotifyInfo">
            <result column="TITLE" property="title" jdbcType="VARCHAR"/>
            <result column="CONTENT" property="content" jdbcType="VARCHAR"/>
            <result column="NOTIFY_TYPE" property="notifyType" jdbcType="VARCHAR"/>
        </association>
    </resultMap>



    <resultMap id="findmessage"  type="com.gameloft9.demo.dataaccess.model.system.SysNotify">
        <id property="id" column="ID"></id>
        <result column="SEND_TIME" property="sendTime" jdbcType="TIMESTAMP" ></result>
        <result column="RECEIVER_ID" property="receiverId" jdbcType="VARCHAR" ></result>
        <result column="STATE" property="state" jdbcType="VARCHAR"/>
        <result column="SENDER_ID" property="senderId" jdbcType="VARCHAR"/>
        <association property="sysNotifyInfo" javaType="com.gameloft9.demo.dataaccess.model.system.SysNotifyInfo">
            <result column="TITLE" property="title" jdbcType="VARCHAR"/>
            <result column="CONTENT" property="content" jdbcType="VARCHAR"/>
            <result column="NOTIFY_TYPE" property="notifyType" jdbcType="VARCHAR"/>
        </association>
    </resultMap>
<!--

    <resultMap id="findReply" type="com.gameloft9.demo.dataaccess.model.system.SysNotify">
        <id property="id" column="ID" jdbcType="VARCHAR"></id>
        <result property="notifyInfoId" column="NOTIFY_INFO_ID"></result>
        <association property="sysNotifyInfo" javaType="com.gameloft9.demo.dataaccess.model.system.SysNotifyInfo">

            <id property="id" column="ID" jdbcType="VARCHAR"></id>
            <association property="" javaType="com.gameloft9.demo.dataaccess"></association>
        </association>

    </resultMap>
-->

    <sql id="Base_Column_List">
    ID,LOGIN_NAME,PASSWORD,REAL_NAME,IS_FORBIDDEN,ORG_ID,ORG_NAME,MOBILE,CREATE_DATE,UPDATE_DATE
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        *
        from notify
        where ID = #{id,jdbcType=VARCHAR}
    </select>
    <select id="countUserByNameAndPwd" resultType="Integer" parameterType="map">
        <!--
         自己编写SQL，resultType是返回的字段类型，parameterType是请求的参数类型。
         loginName，password对应于mapper里面的参数名称
        -->
        select count(1) from USER_TEST t WHERE
        t.LOGIN_NAME = #{loginName,jdbcType=VARCHAR}
        AND t.PASSWORD = #{password,jdbcType=VARCHAR}
    </select>
    <select id="getByLoginName" resultMap="BaseResultMap" parameterType="map">
        <!--
         自己编写SQL，resultType是返回的字段类型，parameterType是请求的参数类型。
         loginName，password对应于mapper里面的参数名称
        -->
        select * from USER_TEST t WHERE
        t.LOGIN_NAME = #{loginName,jdbcType=VARCHAR}
    </select>
    <!--mysql版本-->

    <!--查询全部-->
    <select id="getAll" resultMap="BaseResultMap">
        select * from notify n
        where RECEIVER_ID= '0'
        <if test="creater != null and creater != ''">
            and n.CREATER = #{creater,jdbcType=VARCHAR}
        </if>
        <if test="receiverId != null and receiverId != ''">
            and n.RECEIVER_ID = #{receiverId,jdbcType=VARCHAR}
        </if>
        <if test="state != null and state != ''">
            and n.STATE = #{status,jdbcType=VARCHAR}
        </if>
        order by n.id desc
        limit #{start,jdbcType=DECIMAL},#{end,jdbcType=DECIMAL}
    </select>

    <!--收件箱分页-->
    <select id="outBoxCountGetAll" parameterType="map" resultType="Integer">
        select count(1) from notify n
        where SENDER_ID=  #{loginName,jdbcType=VARCHAR}


    </select>

<!--分页-->
    <select id="countGetAll" parameterType="map" resultType="Integer">
        select count(1) from notify n
        where RECEIVER_ID= '0'
        <if test="creater != null and creater != ''">
            and n.CREATER = #{creater,jdbcType=VARCHAR}
        </if>
        <if test="receiverId != null and receiverId != ''">
            and n.RECEIVER_ID = #{receiverId,jdbcType=VARCHAR}
        </if>
        <if test="state != null and state != ''">
            and n.STATE = #{state,jdbcType=VARCHAR}
        </if>

    </select>
    <!--删除通过ID-->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from notify
    where ID = #{id,jdbcType=VARCHAR}
  </delete>


    <insert id="insert" parameterType="com.gameloft9.demo.dataaccess.model.system.SysNotify">
    insert into notify (ID, CREATER, CREATER_TIME,
    SEND_TIME, RECEIVER_ID, STATE, NOTIFYDESCRIBE, NOTIFYLEVEL, ISREADY,SENDER_ID,NOTIFY_INFO_ID)
    values (#{id,jdbcType=VARCHAR}, #{creater,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
    #{sendTime,jdbcType=TIMESTAMP}, #{receiverId,jdbcType=VARCHAR}, 0,
    #{notifyDescribe,jdbcType=VARCHAR}, #{notifyLevel,jdbcType=VARCHAR}, #{isReady,jdbcType=VARCHAR},
    #{senderId,jdbcType=VARCHAR}, #{notifyInfoId,jdbcType=VARCHAR})

  </insert>
    <insert id="insertSelective" parameterType="com.gameloft9.demo.dataaccess.model.system.UserTest">
        insert into USER_TEST
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="loginName != null">
                LOGIN_NAME,
            </if>
            <if test="password != null">
                PASSWORD,
            </if>
            <if test="realName != null">
                REAL_NAME,
            </if>
            <if test="isForbidden != null">
                IS_FORBIDDEN,
            </if>
            <if test="mobile != null">
                MOBILE,
            </if>
            <if test="icon != null">
                ICON,
            </if>
            <if test="orgId != null">
                ORG_ID,
            </if>
            <if test="orgName != null">
                ORG_NAME,
            </if>
            <if test="createDate != null">
                CREATE_DATE,
            </if>
            <if test="updateDate != null">
                UPDATE_DATE,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="loginName != null">
                #{loginName,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="realName != null">
                #{realName,jdbcType=VARCHAR},
            </if>
            <if test="isForbidden != null">
                #{isForbidden,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null">
                #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="icon != null">
                #{icon,jdbcType=VARCHAR},
            </if>
            <if test="orgId != null">
                #{orgId,jdbcType=VARCHAR},
            </if>
            <if test="orgName != null">
                #{orgName,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateDate != null">
                #{updateDate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.gameloft9.demo.dataaccess.model.system.UserTest">
        update USER_TEST
        <set>
            <if test="loginName != null">
                LOGIN_NAME = #{loginName,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                PASSWORD = #{password,jdbcType=VARCHAR},
            </if>
            <if test="realName != null">
                REAL_NAME = #{realName,jdbcType=VARCHAR},
            </if>
            <if test="isForbidden != null">
                IS_FORBIDDEN = #{isForbidden,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null">
                MOBILE = #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="icon != null">
                ICON = #{icon,jdbcType=VARCHAR},
            </if>
            <if test="orgId != null">
                ORG_ID = #{orgId,jdbcType=VARCHAR},
            </if>
            <if test="orgName != null">
                ORG_NAME = #{orgName,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateDate != null">
                UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where ID = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.gameloft9.demo.dataaccess.model.system.SysNotify">
    update notify
    set CREATER = #{creater,jdbcType=VARCHAR},
      RECEIVER_ID = #{receiverId,jdbcType=VARCHAR},
        STATE = #{state,jdbcType=VARCHAR},
        NOTIFYDESCRIBE = #{notifyDescribe,jdbcType=VARCHAR},
        NOTIFYLEVEL = #{notifyLevel,jdbcType=VARCHAR},
        ISREADY = #{isReady,jdbcType=VARCHAR},
        SENDER_ID = #{senderId,jdbcType=TIMESTAMP},
    where ID = #{id,jdbcType=VARCHAR}

  </update>
<select id="findAllMessage" resultMap="findmessage">
      SELECT notify.*,notify_info.TITLE,notify_info.NOTIFY_TYPE,notify_info.CONTENT FROM notify LEFT JOIN notify_info ON notify.NOTIFY_INFO_ID = notify_info.ID
       ORDER BY notify.SEND_TIME DESC

</select>
    <select id="findOutBox" resultMap="outbox">
      SELECT notify.*,notify_info.TARGET_ID,notify_info.TITLE,notify_info.NOTIFY_TYPE,notify_info.CONTENT FROM notify LEFT JOIN notify_info ON notify.NOTIFY_INFO_ID = notify_info.ID  where  SENDER_ID= #{loginName,jdbcType=VARCHAR}
       ORDER BY notify.SEND_TIME DESC
       limit #{start,jdbcType=DECIMAL},#{end,jdbcType=DECIMAL}
</select>


    <select id="findSysNofiyForAll" resultMap="find" >
   SELECT notify.*,notify_info.TARGET_ID,notify_info.TITLE,notify_info.NOTIFY_TYPE,notify_info.CONTENT FROM notify LEFT JOIN notify_info ON notify.NOTIFY_INFO_ID = notify_info.ID  where  receiver_id= '0' or RECEIVER_ID =#{loginName,jdbcType=VARCHAR}
   and STATE= '0' or STATE=  '1'
    ORDER BY notify.SEND_TIME DESC

    </select>
    <!--<select id="findAllReply" resultMap="findReply">
    SELECT reply.REPLY_ID,reply.REPLY_CONTENT,reply.REPLY_TIME
from  reply,messageboard,notify,notify_info
where notify.NOTIFY_INFO_ID=notify_info.ID  and notify_info.ID=messageboard.NOTIFY_INFO_ID
and reply.MESSAG_BOARD_ID=messageboard.MESSAGE_BORAD_ID

    </select>-->
    <select id="findMessage" resultMap="findmessage" >
   SELECT * FROM notify,notify_info
   where notify.NOTIFY_INFO_ID=notify_info.ID and notify.ID= #{id,jdbcType=VARCHAR}

    </select>

    <select id="replyMessage" resultMap="sendMessage" >
   SELECT SENDER_ID,RECEIVER_ID FROM notify,notify_info
   where notify.NOTIFY_INFO_ID=notify_info.ID and notify.ID= #{id,jdbcType=VARCHAR}
    </select>

    <update id="hideForByPrimaryKey" parameterType="com.gameloft9.demo.dataaccess.model.system.SysNotify">
    update notify
    set
        STATE = 1
        where ID = #{id,jdbcType=VARCHAR}
  </update>
    <select id="getNewMessage" parameterType="java.lang.String" resultType="java.lang.Integer">
    SELECT count(*) FROM notify WHERE STATE='0'  AND RECEIVER_ID =#{loginName,jdbcType=VARCHAR}
   </select>

</mapper>
