<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gameloft9.demo.dataaccess.dao.system.SysSupplierMapper">
    <resultMap id="BaseResultMap" type="com.gameloft9.demo.dataaccess.model.system.SysSupplier">
        <id column="ID" property="id" jdbcType="VARCHAR"/>
        <result column="SUPPLIER_NAME" property="supplierName" jdbcType="VARCHAR"/>
        <result column="SUPPLIER_DESCRIBE" property="supplierDescribe" jdbcType="VARCHAR"/>
        <result column="PHONE" property="phone" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
       ID, SUPPLIER_NAME, SUPPLIER_DESCRIBE, PHONEN
    </sql>

    <select id="getSupplierName" resultType="java.lang.String">
        select DISTINCT t.SUPPLIER_NAME
        FROM SYS_SUPPLIER t
    </select>
    <select id="getAll" resultMap="BaseResultMap" parameterType="map">
        select * from SYS_SUPPLIER t
        where 1=1
        <if test="supplierName !=null and supplierName != ''">
            and (
            t.SUPPLIER_NAME LIKE (concat('%',concat(#{supplierName,jdbcType=VARCHAR},'%')))
            AND t.SUPPLIER_NAME >' '
            )
        </if>
        limit #{start,jdbcType=DECIMAL},#{end,jdbcType=DECIMAL}
    </select>
    <select id="countGetAll" resultType="Integer" parameterType="map">
        select count(1)
        from SYS_SUPPLIER t
        where 1=1
        <if test="supplierName !=null and supplierName != ''">
            and (
            t.SUPPLIER_NAME LIKE (concat('%',concat(#{supplierName,jdbcType=VARCHAR},'%')))
            AND t.SUPPLIER_NAME >' '
            )
        </if>
    </select>
    <insert id="insertSelective" parameterType="com.gameloft9.demo.dataaccess.model.system.SysSupplier">
        insert into SYS_SUPPLIER
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="supplierName != null">
                SUPPLIER_NAME,
            </if>
                SUPPLIER_DESCRIBE,
            <if test="phone != null">
                PHONE,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="supplierName != null">
                #{supplierName,jdbcType=VARCHAR},
            </if>
                #{supplierDescribe,jdbcType=VARCHAR},
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="getBySupplierName" parameterType="map" resultMap="BaseResultMap">
    select * from SYS_SUPPLIER t where t.SUPPLIER_NAME = #{supplierName,jdbcType=VARCHAR}
    </select>
    <select id="getById" parameterType="map" resultMap="BaseResultMap">
      select * from SYS_SUPPLIER t
      where t.id = #{id,jdbcType=VARCHAR}
    </select>
    <update id="updateByPrimaryKeySelective" parameterType="com.gameloft9.demo.dataaccess.model.system.SysSupplier" >

        update SYS_SUPPLIER
        <set >
            <if test="supplierName != null" >
                SUPPLIER_NAME = #{supplierName,jdbcType=VARCHAR},
            </if>
                SUPPLIER_DESCRIBE = #{supplierDescribe,jdbcType=VARCHAR},
            <if test="phone != null" >
                PHONE = #{phone,jdbcType=VARCHAR},
            </if>
        </set>
        where ID = #{id,jdbcType=VARCHAR}
    </update>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from SYS_SUPPLIER
        where ID = #{id,jdbcType=VARCHAR}
    </delete>
</mapper>